.adminWrapper {
    display: flex;
    flex-direction: column;
    border: solid 1px grey;
}

.adminWrapper .title {
    width: 90vw;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.adminWrapper .editor {
    flex-grow: 3;
}

.adminWrapper .select {
    width: max-content;
    padding: 5px;
    margin-top: 10px;
    /*margin-left: auto;*/
    /*margin-right: 20px;*/
}

.adminWrapper .MenuButton {
    width: fit-content;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 10%;
    box-shadow: 0 0 10px #000000;
    margin-top: 10px;
    padding: 5px
}
.adminWrapper .MenuButton:hover {
    background-color: #3e8e41}
.adminWrapper .MenuButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.popup{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup .popupContent{
    width: 40%;
    height: 40px;
    padding:10px;
    background-color: #c9eabf;
    border-radius:5px;
    box-shadow: -5px 5px 10px #8e8d8d;
}
.popup .buttonInfo{
    width:20%;
    height: 30px;
    padding:5px;
    margin-top: 10px;
    background-color: #c9eabf;
    border-radius:5px;
    box-shadow: -5px 5px 10px #8e8d8d;
}