.headerWrapper {
    display: flex; 
    align-items: center;
    height: 100%;
    width: fit-content;
    position: absolute;
    left: 0;
}
.headerImg {
    height: 10vh;
    margin-top: 5px;
    border-radius: 50%;
}