h2 {
    font-size: large;
    color: #368da6;
    margin-top: 5px;
    margin-bottom: 5px;
}

.EditorBlockStyle1 img {
    width: 600px;
    float: left;
    margin: 5px 5px 5px 0;
}

@media screen and (max-width: 992px){
    .EditorBlockStyle1 img {
        width: 100%;
        float: none;
        margin: 5px 5px 5px 0;
    }
}