.wrapperNav {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    height: 100%;
}

.wrapperNav .MenuButton {
    padding: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #A6EBFF;
    background-color: #368DA6;
    border: none;
    border-radius: 10%;
    box-shadow: 0 0 10px #000000; 
}
.wrapperNav .MenuButton:hover {
    background-color: #A6EBFF;
    color: #368DA6;
}
.wrapperNav .MenuButton:active {
    background-color: #A6EBFF;
    color: #368DA6;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  