.wrapperImgSocial {
}
.wrapperImgSocial .imgSocial {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 10px #000000; 
    border-radius: 25%;
}

@media screen and (max-width:480px) {
    .wrapperImgSocial .imgSocial {
        width: 40px;
        height: 40px;
        box-shadow: 0 0 10px #000000; 
        border-radius: 25%;
    }
}